<%- include('../layouts/header') -%>
<body>
  <%- include('../layouts/nav') -%> <%- include('../layouts/sidenav') %>
  <div class="page-body">
    <div class="page-name">
      <h2>View File:</h2>
      <a href="/home" class="btn btn-secondary">Go Back</a>
    </div>
  </div>
  <%- include('../layouts/footer') -%>
</body>
