<div class="page-footer">
  <div></div>
</div>
<script src="/scripts/jquery.min.js"></script>
<script src="/scripts/datatables.js"></script>
<script src="https://kit.fontawesome.com/64cf43ccc2.js"></script>
<script>
  $(document).ready(function () {
    $("table").DataTable({
      order: [0, "desc"],
    });
  });
</script>
<script>
  const deleteButtons = document.querySelectorAll(".btn-delete");
  deleteButtons.forEach((button) => {
    button.addEventListener("click", (event) => {
      event.preventDefault();
      const filename = button.getAttribute("data-file");
      if (confirm(`Are you sure you want to delete ${filename}?`)) {
        fetch(`/delete?file=${filename}`)
          .then(() => window.location.reload())
          .catch((error) => console.error(error));
      }
    });
  });
</script>
<script>
  // Get the search input element
  const searchInput = document.getElementById("searchInput");

  // Add event listener to the search input
  searchInput.addEventListener("input", function () {
    const searchValue = this.value.toLowerCase(); // Convert input value to lowercase for case-insensitive search

    // Get all cards
    const cards = document.querySelectorAll(".page-item");

    // Loop through each card
    cards.forEach((card) => {
      const cardText = card.textContent.toLowerCase(); // Get card content and convert to lowercase

      // If card content includes the search value, display the card, otherwise hide it
      if (cardText.includes(searchValue)) {
        card.style.display = "block"; // Show card
      } else {
        card.style.display = "none"; // Hide card
      }
    });
  });
</script>
<script>
  document.querySelectorAll(".svg-trigger").forEach(function (svg) {
    svg.addEventListener("click", function () {
      var modal = document.getElementById("modal");
      modal.style.display = "block";

      // Set the source of the iframe to the PDF file
      var fileName = svg
        .closest(".page-item")
        .querySelector(".card-text").textContent;
      var pdfViewer = document.getElementById("pdfViewer");
      pdfViewer.src = "../../files/documents/" + fileName;
    });
  });

  document.querySelector(".close").addEventListener("click", function () {
    document.getElementById("modal").style.display = "none";
  });
</script>

<script>
  function toggleEnlargedModal() {
    const modal = document.getElementById("modal");
    modal.classList.toggle("enlarged");
  }

  // Add event listener for the 'Enlarge' button
  document
    .getElementById("enlargeButton")
    .addEventListener("click", function () {
      toggleEnlargedModal();
    });
</script>
