<html>
  <head>
    <meta charset="utf-8" />
    <title>HRDMD Document Manager</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/role1.css" />
    <link rel="stylesheet" href="../../css/role1.min.css" />
    <link rel="stylesheet" href="../../css/bootstrap.all.css" />
    <link rel="stylesheet" href="../../css/datatables.css" />
  </head>
</html>
