<div class="header">
    <div class="side-nav">
      <a class="logo">
        <img src="../images/logo.png" class="logo-img" />
      </a>
      <ul class="nav-links-hris">
        <li>
          <a href="/hris"
            ><i class="fa-solid fa-fingerprint"></i>
            <p style="font-size: 14px">HRIS Home</p></a
          >
        </li>
        <% if (user.mEmp === true || user.hrrole === "ADMIN") { %>
          <li>
            <a href="/view_employees"
              ><i class="fa-solid fa-people-group"></i>
              <p style="font-size: 13px">Employees</p></a
            >
          </li>
        <% } else { %>
            <li>
                <a href="#" class="disabled-link"
                  ><i class="fa-solid fa-people-group"></i>
                  <p style="font-size: 13px">Employees</p></a
                >
              </li>
        <% } %>
        <% if (user.mLeave === true || user.hrrole === "ADMIN") { %>
            <li>
                <a href="/leave_applications"
                  ><i class="fa-solid fa-envelope"></i>
                  <p style="font-size: 13px">Leave Application</p></a
                >
              </li>
        <% } else { %>
            <li>
                <a href="#" class="disabled-link"
                  ><i class="fa-solid fa-envelope"></i>
                  <p style="font-size: 13px">Leave Application</p></a
                >
              </li>
        <% } %>
        <% if (user.mDTR === true || user.hrrole === "ADMIN") { %>
            <li>
                <a href="/dtr"
                  ><i class="fa-solid fa-clock"></i>
                  <p style="font-size: 13px">Daily Time Record</p></a
                >
              </li>
        <% } else { %>
            <li>
                <a href="#" class="disabled-link"
                  ><i class="fa-solid fa-clock"></i>
                  <p style="font-size: 13px">Daily Time Record</p></a
                >
              </li>
        <% } %>
        <% if (user.mPrint === true || user.hrrole === "ADMIN") { %>
          <li>
            <a href="/hrSettings"
              ><i class="fa-solid fa-print"></i>
              <p style="font-size: 13px">Print Reports</p></a
            >
          </li>
        <% } else { %>
          <li>
            <a href="#" class="disabled-link"
              ><i class="fa-solid fa-print"></i>
              <p style="font-size: 13px">Print Reports</p></a
            >
          </li>
        <% } %>
        <div class="active-button"></div>
      </ul>
      <a href="/startpage" class="lower-button text-uppercase"
        ><img src="../images/svg/caret-left-solid.svg" class="icon" /> Start
        Page</a
      >
    </div>
  </div>
  