<div class="header">
  <div class="side-nav">
    <a href="#" class="logo">
      <img src="../images/logo.png" class="logo-img" />
    </a>
    <ul class="nav-links">
      <li>
        <a href="/role1"
          ><i class="fa-solid fa-house"></i>
          <p style="font-size: 14px">Document Tracker</p></a
        >
      </li>
      <li>
        <a href="/personalfolder/<%= encodeURIComponent(user.name) %>">
          <i class="fa-solid fa-bell"></i>
          <p>Personal Folder</p></a
        >
      </li>
      <li>
        <a href="/editacc/<%= encodeURIComponent(user.name) %>">
          <i class="fa-solid fa-user"></i>
          <p>Account Settings</p></a
        >
      </li>
      <li>
        <a href="#"
          ><i class="fa-solid fa-fingerprint"></i>
          <p>HRIS</p></a
        >
      </li>
      <li>
        <a href="/archive_user/<%= encodeURIComponent(user.name) %>"
          ><i class="fa-solid fa-trash"></i>
          <p>Archive</p></a
        >
      </li>
      <div class="active-button"></div>
    </ul>
  </div>
</div>
