<div class="header">
    <div class="side-nav">
      <a class="logo">
        <img src="../images/logo.png" class="logo-img" />
      </a>
      <div class="missionVision fade-in">
        <div class="mission">
          <h3>Mission</h3>
          <p>
            To institute good governance, promote culture, trade and investment in the City, through modern technology towards a safe and sound environment.
          </p>
        </div>
        <div class="vision">
          <h3>Vision</h3>
          <p>
            City of Bacoor: A model first class city, home of resilient , empowered, environment-friendly citizens, 
            proud of their rich history and culture ably led by people-centered public servants united and guided by the rule of law, love of country and of God.
          </p>
        </div>
      </div>
    </div>
  </div>
  