<div
  class="modal fade"
  id="confirmationModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="confirmationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Confirm Action</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to <span id="actionText"></span>?</p>
        <!-- Remarks Textbox -->
        <div id="remarksInputContainer" style="display: none;">
          <label for="remarksInput" class="form-label">Remarks:</label>
          <textarea type="text" class="form-control remarks-textbox" id="remarksInput"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="confirmAction">
          Confirm
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
