.nav-links-hris {
  list-style: none;
  position: relative;
  padding-left: 0px;
}
.nav-links-hris li {
  padding: 10px 0;
  height: 50px;
}
.nav-links-hris li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 14px;
  display: flex;
  align-items: center;
}
.nav-links-hris li a i {
  font-size: 20px;
  margin-right: 20px;
}
.nav-links-hris li a p {
  margin-bottom: 0px;
}
.active-button {
  background: white;
  width: 100%;
  height: 47px;
  position: absolute;
  left: 0;
  top: 2.6%;
  z-index: -1;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
  display: none;
  transition: top 0.5s;
}
.nav-links-hris li:hover a {
  color: #0d5470;
  transition: 0.3s;
}
.nav-links-hris li:hover ~ .active-button {
  display: block;
}
.nav-links-hris li:nth-child(1):hover ~ .active-button {
  top: 2.6%;
}
.nav-links-hris li:nth-child(2):hover ~ .active-button {
  top: 22.6%;
}
.nav-links-hris li:nth-child(3):hover ~ .active-button {
  top: 42.6%;
}
.nav-links-hris li:nth-child(4):hover ~ .active-button {
  top: 62.6%;
}
.nav-links-hris li:nth-child(5):hover ~ .active-button {
  top: 82.6%;
}

@media only screen and (max-width: 600px) {
  .side-nav {
    width: 110px;
  }
}

.dropdown-employee {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out; /* Add a transition for smooth appearance */
}

.dropdown:hover .dropdown-employee {
  display: block;
  background-color: aliceblue;
  position: absolute;
  width: 190px;
  right: 0;
  border-radius: 6px;
  font-size: 14px;
  opacity: 1; /* Show the dropdown with opacity */
  transition-delay: 0.3s; /* Add a delay before the transition starts */
}

.dropdown-option:hover a {
  background-color: #8a8a8a;
  color: white;
}

.hris-title {
  color: white;
  background-color: #414141;
  background-image: url("../../images/hrbanner.png"); /* Set the background image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(90%);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 10px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.hris-header h1 {
  position: absolute;
  top: -255;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; /* Remove default margin to align text perfectly */
  font-weight: 700;
  font-size: 50px;
  text-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  color: white;
}

.hris-container {
  min-height: fit-content;
  margin-bottom: 20px;
}

.hris-container-status {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px; /* Gap between grid items */
}

.container-div {
  display: flex;
  justify-content: center;
  margin: 10px;
  height: 300px;
  transition: filter 0.1s ease; /* Smooth transition effect */
}

.container-div:hover {
  filter: brightness(70%);
  transition-delay: 0.1s;
}

.container-div-hu {
  display: flex;
  justify-content: center;
  height: 300px;
  transition: filter 0.5s ease; /* Smooth transition effect */
}

.container-div-hu:hover {
  filter: brightness(70%);
  transition-delay: 0.1s;
}

.thw {
  background-image: url("../../images/thw.png");
  background-size: cover;
  border-radius: 5px;
}

.lv {
  background-image: url("../../images/lv.png");
  background-size: cover;
  border-radius: 5px;
}

.employee-count {
  display: flex;
  border-radius: 5px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  color: white;
}

.pending-count {
  display: flex;
  border-radius: 5px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  color: white;
}

.action-buttons {
  display: flex;
  justify-content: center; /* Align items to the right */
}

.action-buttons-data {
  display: flex;
}

.icon-square {
  text-decoration: none;
  display: flex;
  justify-content: center; /* Center icon horizontally */
  align-items: center; /* Center icon vertically */
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Adjust size as needed */
  border: 1px solid rgb(187, 187, 187); /* Optional: add border for square effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-right: 5px; /* Optional: add spacing between squares */
}

.action-buttons-leave {
  display: flex;
}

.icon-square-leave {
  text-decoration: none;
  display: flex;
  justify-content: center; /* Center icon horizontally */
  align-items: center; /* Center icon vertically */
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Adjust size as needed */
  border: 1px solid rgb(187, 187, 187); /* Optional: add border for square effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-right: 5px; /* Optional: add spacing between squares */
}

.fa-solid {
  font-size: 16px; /* Adjust icon size as needed */
}

.add-employee {
  margin-left: 25px;
  margin-right: 25px;
}

.clickable-link {
  cursor: pointer;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.display-label {
  margin: 10px;
  margin-left: 15px;
  font-weight: 300;
  font-size: 40px;
}

.display-count {
  margin: 10px;
  margin-top: auto;
  margin-left: auto; /* Pushes the element to the far left */
  margin-right: 50px;
  font-weight: 600;
  font-size: 100px;
}

.emp-files {
  position: relative;
  overflow: visible;
  height: fit-content;
  margin-left: 260px;
  margin-right: 10px;
  padding: 20px;
  flex: 1;
}

.cont-divider {
  border-top: #818181 1px solid;
}

.red-dot {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.green-dot {
  width: 15px;
  height: 15px;
  background-color: green;
  box-shadow: #09ff00 1px 0 20px;
  border-radius: 50%;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.account-at {
  border: #686868 solid 2px;
  border-radius: 5px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 250px 380px 300px 1fr; /* Grid with 3 columns */
  gap: 5px; /* Gap between grid items */
}

.account-img {
  padding: 10px;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 250px; /* Set width to 100% of the column */
  height: 100%;
}

.account-img img {
  max-width: 100%; /* Ensure the image doesn't overflow its container */
  max-height: 100%; /* Ensure the image doesn't overflow its container */
  border-radius: 5px;
  border: #686868 solid 3px;
}

.account-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  width: fit-content;
}

.account-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  width: fit-content;
}

.account-column-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.account-column-2 h3 {
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.button-container {
  align-items: center;
  justify-content: center;
}

.button-container a {
  font-size: small;
}

.account-column-2 a {
  margin-left: auto;
}

.dtr-home-container {
  display: grid;
  grid-template-columns: 325px 325px 325px 1fr;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dtr-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dtr-status {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.div-title {
  display: flex;
  position: absolute;
  bottom: 18px; /* Adjust as needed */
  left: 15px; /* Adjust as needed */
  font-size: 20px;
  font-weight: 600;
  color: #686868;
}

.div-time {
  background-color: #414141;
}

.title-time {
  color: aliceblue;
  text-shadow: #000000 1px 0 10px;
}

.emp-count {
  color: aliceblue;
  text-shadow: #000000 3px 4px 10px;
}

.div-count {
  display: flex;
  position: absolute;
  bottom: -20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  font-size: 50px;
  font-weight: 700;
}

.status-count {
  margin-right: 10px;
  margin-bottom: 5px;
  width: 25px;
  height: 25px;
}

.dtr-view-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dtr-view-div {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  border: #acacac solid 2px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 20px;
  height: 100px;
  align-items: center;
}

.dtr-cut-container {
  display: grid;
  grid-template-columns: 640px 320px 1fr;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dtr-cut-div {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  border: #acacac solid 2px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 20px;
  height: 100px;
  align-items: center;
}

.div-cut-count {
  display: flex;
  position: absolute;
  bottom: 1px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  font-size: 30px;
  font-weight: 600;
}

.div-view-count {
  display: flex;
  position: absolute;
  bottom: 18px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  font-size: 40px;
  font-weight: 600;
}

.clocked-in {
  background-image: url("../../images/employees.png");
}

.clockin-tab {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: #acacac solid 2px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 20px;
  height: 100px;
}

.clockin-tab p {
  font-size: 25px;
  font-weight: 600;
  margin-left: 20px;
  margin-top: 15px;
}

.clockin-btn {
  display: flex;
  margin-left: auto;
}

.nav-first {
  font-weight: 800;
  font-style: italic;
  border-color: #000000;
}

.status-icon {
  display: flex;
  justify-content: center;
  border: #cfcfcf solid 2px;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
}

.status-icon span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 5px;
  margin-right: 5px;
}

.settings-container {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3px; /* Gap between grid items */
  grid-auto-rows: 50px; /* Default height for each row */
}
.settings-container a {
  text-decoration: inherit;
}
.settings-item {
  display: flex;
  align-items: center; /* Center vertically */
  width: 100%;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}

.settings-item i {
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px; /* Space between icon and text */
}

.settings-item p {
  margin: 0; /* Remove default margin for <p> */
  font-weight: 600;
}

.settings-item span {
  margin-left: auto;
  margin-right: 10px;
}

.settings-item box-icon {
  font-size: 25px;
  margin-left: 5px;
  margin-right: 5px; /* Space between icon and text */
}

.settings-title {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
}

.settings-title p {
  margin-left: auto;
}

.settings-div-dtr {

  border: #414141 solid 1px;
  border-radius: 5px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 1%;
  height: 62%;
  backdrop-filter: blur(5px); /* Blur effect */
}

.settings-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #414141 solid 1px;
  border-radius: 5px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 1%;
  height: 65%;
  backdrop-filter: blur(5px); /* Blur effect */
}

.settings-div label {
  font-size: 15px;
  margin-right: 10px;
  font-weight: 600;
}

.hr-settings {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.date-input {
  width: 140px;
}

.f-group {
  align-items: center;
  justify-content: center;
  margin: 10px;
  display: flex;
}

.f-group legend {
  font-size: 20px;
}

.fieldset {
  display: grid;
  grid-template-columns: 600px 600px 1fr;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button-container {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-label {
  display: block;
  margin-bottom: 10px;
}

.button-label p {
  font-weight: 800;
}

.btn-print {
  width: 500px;
  margin-bottom: 12px;
}

.btn-save {
  display: flex;
  position: absolute;
  justify-content: center;
  right: 10px;
  bottom: 0;
  width: 500px;
  margin-bottom: 12px;
}

.print-body {
  position: relative;
  overflow: visible;
  margin-top: 80px;
  padding: 20px;
  flex: 1;
}

.fileType {
  font-weight: 600;
}

.blurred-table {
  border-collapse: collapse;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.5); /* Adjust opacity as needed */
  backdrop-filter: blur(5px); /* Adjust blur radius as needed */
}
.custom-table {
  width: 95%; /* Set the width of the table */
  border-collapse: collapse; /* Collapse table borders */
}

.custom-table th,
.custom-table td {
  padding: 8px; /* Add padding to table cells */
  text-align: left; /* Align text to the left */
  border: 1px solid #ddd; /* Add border to table cells */
}

.leave-form {
  border: #cfcfcf solid 1px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px); /* Blur effect */
}

.file-container-hrSet {
  display: flex;
  background-color: white;
  border-radius: 5px;
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Gap between grid items */
}

.file-container-hrSet label {
  font-weight: 600;
  padding-top: 10px;
  align-items: center;
}

.file-container-hris {
  display: flex;
  border: #686868 solid 2px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 5px; /* Gap between grid items */
}

.dropdown-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}
.dropdown-menu .dropdown-item {
  color: #000000; /* Change this to your desired color */
}
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
  color: #5c5c5c; /* Change this to your desired hover/active color */
}

.disabled-link {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.6; /* This makes the link appear disabled */
}

.nav-bg {
  backdrop-filter: blur(5px);
}