{{#extends "layout"}}{{/extends}}
<body>
<div class="page-body">
    <div class="page-name">
          <h1>Admin Dashboard</h1>
          <button type="button" class="btn btn-primary">
            <i class="fa-solid fa-plus"></i>
            ADD DOCUMENT
          </button>
        </div>
        <div class="page-container">
          <div class="page-item">
            <img src="../images/strikemapogi.jpg" />
          </div>
          <div class="page-item"><img src="../images/strikemapogi.jpg"  /></div>
          <div class="page-item"><img src="../images/strikemapogi.jpg"  /></div>
          <div class="page-item"><img src="../images/strikemapogi.jpg"  /></div>
        </div>
</body>
