<%- include('./layouts/hrislayout') -%>
<body>
  <%- include('./layouts/nav') -%> <%- include('./layouts/sidenavhris') %>
  <div class="page-body">
    <div class="hris-container">
      <div class="hris-header">
        <div class="hris-title">Human Resources Information System</div>
      </div>
    </div>
  </div>
</body>

<%- include('./layouts/footer') %>
