<%- include('./layouts/hrislayout') -%>
<body>
  <%- include('./layouts/nav') -%> <%- include('./layouts/sidenavhris') %>
  <div class="page-body">
    <div class="hris-container">
      <div class="hris-header">
        <div class="hris-title">Human Resources Information System</div>
      </div>
    </div>
    <div class="hris-container-status">
      <div class="container-div">
        <div class="employee-count">
          <p>Employee Count</p>
          <p>42069</p>
        </div>
      </div>
      <div class="container-div">
        <div class="pending-count">
          <p>Pending Leave</p>
          <p>Lahat sila gusto mag leave putang ina</p>
        </div>
      </div>
    </div>
  </div>
</body>

<%- include('./layouts/footer') %>
