<%- include('./layouts/login') -%>
<body>
  <div class="video-container">
    <video autoplay loop muted>
      <source src="/images/bacoorvid.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <div class="bottom-left-div">
      <image src="/images/westrikeasone.png">
    </div>
  </div>
  <div class="container">
    <div class="alert alert-dismissible alert-success" id="success-alert" >
      <strong>Account Created Successfully</strong>
    </div>
    <div class="login form">
      <div class="logo-container">
        <img src="/images/logo.png" class="logo-login" />
      </div>
      <header>Human Resources Department</header>
      <form>
        <div class="flex-container">
          <input type="text" name="name" placeholder="First Name" required />
          <input type="text" name="lastname" placeholder="Last Name" required />
        </div>
        <input type="text" name="email" placeholder="Email" required />
        <input type="text" name="employeeID" placeholder="Employee ID" required />
        <div class="email-error"></div>
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <div class="password-error"></div>
        <input type="hidden" name="hrrole" value="NO ROLE" />
        <input type="submit" class="button" />
      </form>
      <div class="signup">
        <a href="login">Login</a>
      </div>
    </div>
  </div>
</body>
<%- include('./layouts/signupfooter') %>
